# Python3.8
# Base scientific packages
numpy
scipy
statsmodels
pandas
jupyterlab
padasip
tsfel

# Plots
tqdm
seaborn
matplotlib
ipywidgets
tabulate
nbconvert[webpdf]

# Knee/Elbow analysis
kneed

# Machine learning
scikit-learn

# Streaming algorithms
pytest
river
# scikit-multiflow

# Wavelets
PyWavelets
ewtpy
ssqueezepy
fcwt
EMD-signal
detecta
