# Python3.8
# Base scientific packages
numpy
scipy
statsmodels
pandas
jupyterlab
graphviz

tsfel
imbalanced-learn

# Plots
tqdm
# %matplotlib ipympl
ipympl
seaborn
matplotlib
adjustText
ipywidgets
tabulate
nbconvert[webpdf]

# Knee/Elbow analysis
kneed

# Machine learning
scikit-learn

# Streaming algorithms
river
# scikit-multiflow

# Wavelets
PyWavelets

