# Base scientific packages
numpy
scipy
statsmodels
pandas
jupyterlab

# Plots
tqdm
seaborn
matplotlib
ipywidgets

# Machine learning
scikit-learn

# Streaming algorithms
river
# scikit-multiflow

# Wavelets
PyWavelets
ewtpy
ssqueezepy
fcwt
EMD-signal
detecta
