# workon DP
numpy==1.23.1
seaborn
ipywidgets
statsmodels==0.13.5
tqdm
scipy==1.10.0
scikit-learn==1.2.1
pandas==1.5.3
PyWavelets==1.4.1
matplotlib==3.6.3
jupyterlab==3.6.1
detecta==0.0.5
keras==2.11.0
ssqueezepy==0.6.3
fcwt==0.1.17
