# Python3.8
# Base scientific packages
numpy
scipy
statsmodels
pandas
jupyterlab
padasip

# Plots
tqdm
seaborn
matplotlib
ipywidgets

# Machine learning
scikit-learn

# Streaming algorithms
pytest
river
# scikit-multiflow

# Wavelets
PyWavelets
ewtpy
ssqueezepy
fcwt
EMD-signal
detecta
